*{font-family:"Sans","Arial"; font-size:10px; color:#444; margin:0; padding:0;}
body{width:100%; height:100%; overflow:hidden; }

.rigid{ /* position:fixed;  bottom:500px; left:500px;   width:50px; height:50px;background:#999; */        /*  border-radius:25px; -moz-border-radius:25px; -webkit-border-radius:25px;	*/	z-index:10; }
.ground{ position:fixed; bottom:0px; left:100px; width:700px; height:100px; background:none; border:1px solid #ccc;}
.box{ position:fixed; /*  bottom:500px; left:500px;*/   width:50px; height:50px;background:#999;        /*  border-radius:25px; -moz-border-radius:25px; -webkit-border-radius:25px;	*/	z-index:10; }

.ball{ position:fixed; /*  bottom:500px; left:500px;*/   width:50px; height:50px;background:#999;          border-radius:25px; -moz-border-radius:25px; -webkit-border-radius:25px;		z-index:10; }

